body {
    font-family: Arial, sans-serif;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7d8bae; /* Background color */
}

.container {
    text-align: center;
    padding: 30px;
    background-color: #45496a; /* Background color for container */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

/* TODO: Add styles for labels, inputs, buttons, and output text */
h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #ffffff; /* Header color */
}

h3{
    color: #ffffff;
}

input[type="checkbox"] {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #7d8bae;
    border-radius: 3px;
}

input:checked::before{
    content: "∨";
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

label{
    text-align: center;
    display: flex;
    align-items: center;
}

label[for="length"]{
    justify-content: center;
    margin-bottom: 15px;
}

label[for="passwordOutput"]{
    justify-content: center;
    margin: 5px;
}

button{
    color: #ffffff;
    background-color: #7d8bae;
    width: px;
    height: 30px;
    border: none;
    border-radius: 3px;
    margin: 15px;
}

input[id="passwordOutput"]{
    background-color: #7d8bae;
    border: 3px #ffffff double;
}

input[id="length"]{
    background-color: #7d8bae;
    border: 3px #ffffff double;
}
/* Add more styles here as needed */
